@font-face {
   font-family: "Inter Regular";
   src: url("fonts/Inter Regular.woff") format("woff"), url("fonts/Inter Regular.eot") format("embedded-opentype"), url("fonts/Inter Regular.ttf") format("truetype"), url("fonts/Inter Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins Medium";
   src: url("fonts/Poppins Medium.woff") format("woff"), url("fonts/Poppins Medium.eot") format("embedded-opentype"), url("fonts/Poppins Medium.ttf") format("truetype"), url("fonts/Poppins Medium.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Poppins Medium";
   src: url("fonts/Poppins Medium Italic.woff") format("woff"), url("fonts/Poppins Medium Italic.eot") format("embedded-opentype"), url("fonts/Poppins Medium Italic.ttf") format("truetype"), url("fonts/Poppins Medium Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}