/* Use Google Fonts for Inter and Poppins */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Poppins:ital,wght@0,500;1,500&display=swap');

* {
  font-family: 'Inter', sans-serif !important;
}

html, body {
  font-family: 'Inter', sans-serif;
}
.poppins-medium {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
}
.poppins-medium-italic {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  font-style: italic !important;
}